<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <!--Animate on Scroll Library-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      rel="stylesheet"
      href="../assets/fontawesome-free-6.1.0-web/css/all.css"
    />
    <!--CSS File-->
    <link rel="stylesheet" href="./contact.css" />
  </head>
  <body>
    <!--Menu Section-->
    <nav class="nav-section">
      <article class="mobile-menu">
        <div class="logo-box">
          <img src="../assets/images/metric-logo.png" alt="Company Logo" />
          <p><a href="" class="logo-text">metric</a></p>
        </div>
        <div class="mobile-nav-icons-box">
          <div>
            <span>
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </div>
          <div>
            <span class="menu-bars"
              ><i class="fa fa-bars" aria-hidden="true"></i
            ></span>
          </div>
        </div>
      </article>
      <article class="desktop-nav">
        <div class="logo-box" class="company-logo">
          <img src="../assets/images/metric-logo.png" alt="Company Logo" />
          <p><a href="" class="logo-text">metric</a></p>
        </div>
        <div class="desktop-links-box">
          <ul class="first-desktop-list">
            <li><a href="">FAQS</a></li>
            <li><a href="">Testimonials</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Login</a></li>
            <li class="seo-box"><a href="">FREE SEO ANALYSIS</a></li>
          </ul>
          <ul class="second-desktop-list">
            <li><a href="../index.html">HOME</a></li>
            <li><a href="./about.html">ABOUT</a></li>
            <li><a href="./products.html">PRODUCTS</a></li>
            <li><a href="">SOLUTIONS</a></li>
            <li><a href="">FEATURES</a></li>
            <li><a href="./plans.html">PLANS</a></li>
            <li><a href="">BLOG</a></li>
            <li><a href="">SHOP</a></li>
            <li><a href="./contact.html">CONTACT</a></li>
            <li>
              <a href=""
                ><span> <i class="fa fa-search" aria-hidden="true"></i> </span
              ></a>
            </li>
            <li>
              <a href="">
                <span><i class="fa fa-bars" aria-hidden="true"></i></span
              ></a>
            </li>
          </ul>
        </div>
      </article>
    </nav>
    <!--Side Menu-->
    <section class="side-menu" id="side-menu">
      <ul class="side-menu-list">
        <li><a href="../index.html">Home</a></li>
        <li><a href="./Views/about.html">About</a></li>
        <li><a href="./contact.html">Contact</a></li>
        <li><a href="./plans.html">Plans</a></li>
        <li><a href="./contact.html">Products</a></li>
        <li><a href="./faq.html">FAQ</a></li>
      </ul>
    </section>
    <!--End of sidemenu-->
    <!--Hero section-->
    <section
      class="hero-section contact-hero-section"
      data-aos="slide-left"
      data-aos-offset="120"
      data-aos-delay="50"
      data-aos-duration="500"
      data-aos-easing="ease-in-out"
      data-aos-mirror="true"
      data-aos-once="true"
    >
      <div class="banner-details">
        <!--banner texts-->
        <article
          class="banner-text-box"
          data-aos="flip-up"
          data-aos-offset="120"
          data-aos-delay="50"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
          data-aos-mirror="true"
          data-aos-once="true"
        >
          <h1>Contact Us</h1>
          <p>Feel free to contact us any time, we wanna hear from you!</p>
        </article>
      </div>
      <div class="plans-banner-links-box">
        <ul class="plans-banner-list contact-banner-list">
          <li><a href="../index.html">Home</a></li>

          <li class="contact-banner-link-2">
            <a href="./contact.html">/ Contact Us</a>
          </li>
        </ul>
        <div class="plan-banner-underline"></div>
      </div>
    </section>
    <!--Contact-info-->

    <section class="contact-info">
      <article class="contact-details-box">
        <div class="contact-text">
          <h5>Contact Information</h5>
          <p>
            Feel free to contact me for any questions or if you need any help or
            services ! I provide competitive insight and market analysis no one
            can duplicate. Analysis reveals opportunities, supports decisions,
            connects your SEO tactics and strategy directly to revenue.
          </p>
        </div>
        <div class="single-contact-item-box">
          <p class="address">Address:</p>
          <div class="contact-item">
            <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
            <p>2 AlBahr St, Tanta , AlGharbia, Egypt.</p>
          </div>
        </div>
        <div class="single-contact-item-box">
          <p class="email-text">Email:</p>
          <div class="contact-item">
            <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
            <p>7oroof@7oroof.com</p>
          </div>
        </div>
        <div class="single-contact-item-box">
          <p class="call-text">Call:</p>
          <div class="contact-item">
            <span><i class="fa fa-phone" aria-hidden="true"></i></span>
            <p>+ 2 01065370701</p>
          </div>
        </div>
      </article>
      <article class="contact-form">
        <h4>Drop Me A Line</h4>
        <form action="">
          <div class="inputs-box">
            <div class="form-control">
              <input
                type="text"
                placeholder="First Name"
                class="subscribe-form contact-input"
              />
            </div>
            <div class="form-control">
              <input
                type="text"
                placeholder="Email"
                class="subscribe-form contact-input"
              />
            </div>
            <div class="form-control">
              <input
                type="tel"
                placeholder="Phone"
                class="subscribe-form contact-input"
              />
            </div>
            <div class="form-control">
              <input
                type="text"
                placeholder="Subject"
                class="subscribe-form contact-input"
              />
            </div>
          </div>
          <textarea name="" placeholder="Message"></textarea>
          <button class="contact-submit-btn" type="submit">Send Message</button>
        </form>
      </article>
    </section>
    <!--End of Contact info-->
    <!--Footer Section-->
    <footer class="footer-section">
      <section class="footer-advert-section">
        <p class="advert-text">
          Our social marketing solutions help more than 2500 companies around
          the world deliver great results. We can't stand average, and our
          clients can't either
        </p>
        <article class="advert-btn-box footer-btn-box-1">
          <div class="footer-btn-box">
            <a href="#">TAKE THE TOUR</a>
          </div>
          <div class="footer-btn-box footer-btn-box-2">
            <a href="#">GET STARTED</a>
          </div>
        </article>
      </section>
      <section class="footer-items-box">
        <article class="footer-logo">
          <img src="../assets/images/metric-logo.png" alt="" />
        </article>
        <article class="single-footer-item-box">
          <h5>About Metrics</h5>
          <ul class="single-footer-item-list">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">In the Press</a></li>
            <li><a href="#">Marketing Reports</a></li>
            <li><a href="#">SEO Tools</a></li>
          </ul>
        </article>
        <article class="single-footer-item-box">
          <h5>Our Products</h5>
          <ul class="single-footer-item-list">
            <li><a href="#">Take The Tour</a></li>
            <li><a href="#">Plans & Pricing</a></li>
            <li><a href="#">Influencer Marketing</a></li>
            <li><a href="#">Social Media Monitoring</a></li>
            <li><a href="#">Free Tools</a></li>
            <li><a href="#">API</a></li>
          </ul>
        </article>
        <article class="single-footer-item-box">
          <h5>Explore</h5>
          <ul class="single-footer-item-list">
            <li><a href="#">Free Tools</a></li>
            <li><a href="#">Find Influencers By Skill</a></li>
            <li><a href="#">PDF Social Analysis</a></li>
            <li><a href="#">Dashboard</a></li>
          </ul>
        </article>
        <article class="single-footer-item-box">
          <h5>Need Help</h5>
          <ul class="single-footer-item-list">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Our Blog</a></li>
            <li><a href="#">Metrics Help Desk</a></li>
            <li><a href="#">Metrics System Status</a></li>
            <li><a href="#">FAQS</a></li>
          </ul>
        </article>
        <article class="single-footer-item-box">
          <h5>Newsletter</h5>
          <ul class="single-footer-item-list">
            <li><a href="#">Don't miss to subscribe to our news feed</a></li>
            <li><a href="#">Kindly fill the form</a></li>
          </ul>
          <form action="" class="footer-form">
            <input
              type="text"
              placeholder="Subscribe In Our Newsletter"
              class="subscribe-form"
            />
            <button type="submit">
              <span
                ><i
                  class="fa fa-long-arrow-right input-arrow"
                  aria-hidden="true"
                ></i
              ></span>
            </button>
          </form>
        </article>
      </section>
      <div class="footer-underline"></div>
      <div class="footer-copyrights-box">
        <section class="footer-details-box">
          <div class="single-detail-box">
            <p>Terms and Conditions</p>
            <div class="separator"></div>
          </div>
          <div class="single-detail-box">
            <p>API Use Policy</p>
            <div class="separator"></div>
          </div>
          <div class="single-detail-box">
            <p>Privacy Policy</p>
            <div class="separator"></div>
          </div>
          <div class="single-detail-box">
            <p>Cookies</p>
            <div class="separator"></div>
          </div>
        </section>
        <article class="copyright-section">
          <p>
            © 2015 - 2016 Metrics. All Rights Reserved <br />
            With Love by <a href="#">7oroof.com</a>
          </p>
        </article>
      </div>
    </footer>
    <!--Animate on scroll Library codes-->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
  <script src="../Javascript/app.js"></script>
</html>
