<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plans Page</title>
    <!--Animate on Scroll Library-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      rel="stylesheet"
      href="../assets/fontawesome-free-6.1.0-web/css/all.css"
    />
    <!--CSS File-->
    <link rel="stylesheet" href="./plans.css" />
  </head>
  <body>
    <!--Menu Section-->
    <nav class="nav-section">
      <article class="mobile-menu">
        <div class="logo-box">
          <img src="../assets/images/metric-logo.png" alt="Company Logo" />
          <p><a href="" class="logo-text">metric</a></p>
        </div>
        <div class="mobile-nav-icons-box">
          <div>
            <span>
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </div>
          <div>
            <span class="menu-bars"
              ><i class="fa fa-bars" aria-hidden="true"></i
            ></span>
          </div>
        </div>
      </article>
      <article class="desktop-nav">
        <div class="logo-box">
          <img src="../assets/images/metric-logo.png" alt="Company Logo" />
          <p><a href="" class="logo-text">metric</a></p>
        </div>
        <div class="desktop-links-box">
          <ul class="first-desktop-list">
            <li><a href="">FAQS</a></li>
            <li><a href="">Testimonials</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Login</a></li>
            <li class="seo-box"><a href="">FREE SEO ANALYSIS</a></li>
          </ul>
          <ul class="second-desktop-list">
            <li><a href="../index.html">HOME</a></li>
            <li><a href="./about.html">ABOUT</a></li>
            <li><a href="./products.html">PRODUCTS</a></li>
            <li><a href="">SOLUTIONS</a></li>
            <li><a href="">FEATURES</a></li>
            <li><a href="./plans.html">PLANS</a></li>
            <li><a href="">BLOG</a></li>
            <li><a href="">SHOP</a></li>
            <li><a href="./contact.html">CONTACT</a></li>
            <li>
              <a href=""
                ><span> <i class="fa fa-search" aria-hidden="true"></i> </span
              ></a>
            </li>
            <li>
              <a href="">
                <span><i class="fa fa-bars" aria-hidden="true"></i></span
              ></a>
            </li>
          </ul>
        </div>
      </article>
    </nav>
    <!--Side Menu-->
    <section class="side-menu" class="side-menu">
      <ul class="side-menu-list">
        <li><a href="../index.html">Home</a></li>
        <li><a href="./about.html">About</a></li>
        <li><a href="./contact.html">Contact</a></li>
        <li><a href="./plans.html">Plans</a></li>
        <li><a href="./contact.html">Products</a></li>
        <li><a href="./faq.html">FAQ</a></li>
      </ul>
    </section>
    <!--End of sidemenu-->
    <!--Hero Section-->
    <section
      class="hero-section plans-hero-section"
      data-aos="slide-left"
      data-aos-offset="120"
      data-aos-delay="50"
      data-aos-duration="500"
      data-aos-easing="ease-in-out"
      data-aos-mirror="true"
      data-aos-once="true"
    >
      <div class="banner-details">
        <!--banner texts-->
        <article
          class="banner-text-box"
          data-aos="flip-up"
          data-aos-offset="120"
          data-aos-delay="50"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
          data-aos-mirror="true"
          data-aos-once="true"
        >
          <h1>OUR PLANS</h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore et
            maxime quaerat quisquam omnis magni.
          </p>
        </article>
      </div>
      <div class="plans-banner-links-box">
        <ul class="plans-banner-list">
          <li><a href="../index.html">Home</a></li>

          <li class="plans-banner-link-2"><a href="#plans">/ Plans</a></li>
        </ul>
        <div class="plan-banner-underline"></div>
      </div>
    </section>
    <!--Service Section-->
    <section class="service-section">
      <div class="service-items-box">
        <article
          class="single-service"
          data-aos="fade-right"
          data-aos-offset="120"
          data-aos-delay="50"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
          data-aos-mirror="true"
          data-aos-once="true"
        >
          <div class="service-item-header">
            <div>
              <img src="../assets/images/icons8-certificate-50.png" alt="" />
            </div>
            <h3>Social Analytics</h3>
          </div>
          <p>
            Metrics social media analytics give you an in-depth view of how well
            your social media efforts are being received ...
          </p>
          <a href="" class="service-link"
            >Learn More
            <span
              ><i
                class="fa fa-long-arrow-right input-arrow"
                aria-hidden="true"
              ></i></span
          ></a>
          <div class="service-underline"></div>
        </article>
        <article
          class="single-service"
          class="single-service"
          data-aos="fade-up"
          data-aos-offset="120"
          data-aos-delay="50"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
          data-aos-mirror="true"
          data-aos-once="true"
        >
          <div class="service-item-header">
            <div>
              <img src="../assets/images/icons8-certificate-50.png" alt="" />
            </div>
            <h3>Security</h3>
          </div>
          <p>
            Security is no joke. Reputations, assets, and financials are all at
            stake. Metrics secure logins, profile protections ...
          </p>
          <a href="" class="service-link"
            >Learn More
            <span
              ><i
                class="fa fa-long-arrow-right input-arrow"
                aria-hidden="true"
              ></i></span
          ></a>
          <div class="service-underline"></div>
        </article>
        <article
          class="single-service"
          class="single-service"
          data-aos="fade-left"
          data-aos-offset="120"
          data-aos-delay="50"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
          data-aos-mirror="true"
          data-aos-once="true"
        >
          <div class="service-item-header">
            <div>
              <img src="../assets/images/icons8-certificate-50.png" alt="" />
            </div>
            <h3>Engagement</h3>
          </div>
          <p>
            With the ability to manage all your social networks , we gives you a
            wide scope of your social media activity ...
          </p>
          <a href="" class="service-link"
            >Learn More
            <span
              ><i
                class="fa fa-long-arrow-right input-arrow"
                aria-hidden="true"
              ></i></span
          ></a>
        </article>
      </div>
      <div class="service-link-box plans-link-box">
        <a href="">EXPLORE ALL FEATURES</a>
      </div>
    </section>
    <!--End of Service Section-->

    <!--Customers Section-->
    <section class="customers-section">
      <header
        class="about-section-header"
        class="about-section-header"
        data-aos="zoom-in"
        data-aos="fade-up"
        data-aos-offset="200"
        data-aos-delay="50"
        data-aos-duration="500"
        data-aos-easing="ease-in-out"
        data-aos-mirror="true"
        data-aos-once="true"
      >
        <h2>Join Our Successful Customers</h2>
        <p>Choose Your Plan</p>
        <div class="vertical-divider-box">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </header>
      <article class="customer-link-box">
        <div class="customer-link">
          <a href="#">MONTHLY</a>
        </div>
        <div class="customer-link customer-link-2">
          <a href="#">YEARLY</a>
        </div>
      </article>
      <!--starter plan-->
      <div class="packages-box">
        <article
          class="starter-plan"
          class="packages-box"
          class="single-service"
          data-aos="fade-right"
          data-aos-offset="120"
          data-aos-delay="50"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
          data-aos-mirror="true"
          data-aos-once="true"
        >
          <div class="starter-plan-header-box">
            <div class="starter-plan-underline"></div>
            <p>Starter Plan</p>
            <h1>
              <span class="dollar-sign">$</span>50<span class="monthly-text"
                >/ monthly</span
              >
            </h1>
          </div>
          <div class="green-separator"></div>
          <div class="plan-additonal-details">
            <p class="details-header">
              All plans are include Funnel Report, Cohort Report, Revenue
              Report, People Search, and A/B Testing Report.
            </p>
            <div class="rounded-separator-box">
              <div class="small-circle"></div>
            </div>
            <p><span>Five</span> Brand Monitors</p>
            <p><span>Five</span> Keyword Monitors</p>
            <p>Basic Quota</p>
            <p>PDF reports</p>
            <p>Full Social Profiles</p>
            <p class="last-starter-text"><span>500</span> Search Results</p>
          </div>
          <div class="starter-link-box">
            <a href="" class="starter-link"
              >GET STARTED NOW
              <span
                ><i
                  class="fa fa-long-arrow-right input-arrow"
                  aria-hidden="true"
                ></i></span
            ></a>
          </div>
        </article>
        <!--End of starter plan-->
        <!--starter plan-->
        <article
          class="starter-plan"
          data-aos="fade-right"
          data-aos-offset="120"
          data-aos-delay="50"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
          data-aos-mirror="true"
          data-aos-once="true"
        >
          <div class="starter-plan-header-box">
            <div class="starter-plan-underline"></div>
            <p>Starter Plan</p>
            <h1>
              <span class="dollar-sign">$</span>50<span class="monthly-text"
                >/ monthly</span
              >
            </h1>
          </div>
          <div class="green-separator"></div>
          <div class="plan-additonal-details">
            <p class="details-header">
              All plans are include Funnel Report, Cohort Report, Revenue
              Report, People Search, and A/B Testing Report.
            </p>
            <div class="rounded-separator-box">
              <div class="small-circle"></div>
            </div>
            <p><span>Five</span> Brand Monitors</p>
            <p><span>Five</span> Keyword Monitors</p>
            <p>Basic Quota</p>
            <p>PDF reports</p>
            <p>Full Social Profiles</p>
            <p class="las-starter-text"><span>70</span> Search Results</p>
          </div>
          <div class="starter-link-box">
            <a href="" class="starter-link"
              >GET STARTED NOW
              <span
                ><i
                  class="fa fa-long-arrow-right input-arrow"
                  aria-hidden="true"
                ></i></span
            ></a>
          </div>
        </article>
        <!--End of starter plan-->
        <!--starter plan-->
        <article
          class="starter-plan"
          data-aos="fade-right"
          data-aos-offset="120"
          data-aos-delay="50"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
          data-aos-mirror="true"
          data-aos-once="true"
        >
          <div class="starter-plan-header-box">
            <div class="starter-plan-underline"></div>
            <p>Basic Plan</p>
            <h1>
              <span class="dollar-sign">$</span>90<span class="monthly-text"
                >/ monthly</span
              >
            </h1>
          </div>
          <div class="green-separator"></div>
          <div class="plan-additonal-details">
            <p class="details-header">
              All plans are include Funnel Report, Cohort Report, Revenue
              Report, People Search, and A/B Testing Report.
            </p>
            <div class="rounded-separator-box">
              <div class="small-circle"></div>
            </div>
            <p><span>Five</span> Brand Monitors</p>
            <p><span>Five</span> Keyword Monitors</p>
            <p>Basic Quota</p>
            <p>PDF reports</p>
            <p>Full Social Profiles</p>
            <p class="last-starter-text"><span>1700</span> Search Results</p>
          </div>
          <div class="starter-link-box">
            <a href="" class="starter-link"
              >GET STARTED NOW
              <span
                ><i
                  class="fa fa-long-arrow-right input-arrow"
                  aria-hidden="true"
                ></i></span
            ></a>
          </div>
        </article>
      </div>
      <!--End of starter plan-->
      <div>
        <img src="../assets/images/pricing-table-self.png" alt="" />
      </div>
    </section>
    <!--End of Customers Section-->
    <!--FAQ Section-->
    <section class="faq-section">
      <header
        class="about-section-header faq-section-header"
        class="about-section-header"
        data-aos="zoom-in"
        data-aos="fade-up"
        data-aos-offset="200"
        data-aos-delay="50"
        data-aos-duration="500"
        data-aos-easing="ease-in-out"
        data-aos-mirror="true"
        data-aos-once="true"
      >
        <h2>Not Yet Sure? Let Us Help</h2>
        <p>Trusted By The Best Marketers</p>
        <div class="vertical-divider-box">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </header>
      <div class="faq-main-details-box">
        <div class="questions-box">
          <article class="single-faq-item">
            <button class="single-question">
              <p class="question-text">Which Plan is Right For Me?</p>
              <div class="question-icon-box">
                <p>+</p>
              </div>
            </button>
            <p class="answer-text">
              You can subscribe via credit card or paypal, for annual plans we
              offer more options. Just contact our support team for more
              details. Also, you can upgrade your plan at anytime. You are only
              responsible for the difference.
            </p>
          </article>
          <article class="single-faq-item">
            <button class="single-question">
              <p class="question-text">Do I have to commit a contract?</p>
              <div class="question-icon-box">
                <p>+</p>
              </div>
            </button>
            <p class="answer-text">
              You can subscribe via credit card or paypal, for annual plans we
              offer more options. Just contact our support team for more
              details. Also, you can upgrade your plan at anytime. You are only
              responsible for the difference.
            </p>
          </article>
          <article class="single-faq-item">
            <button class="single-question">
              <p class="question-text">What payment methods are available?</p>
              <div class="question-icon-box">
                <p>+</p>
              </div>
            </button>
            <p class="answer-text">
              You can subscribe via credit card or paypal, for annual plans we
              offer more options. Just contact our support team for more
              details. Also, you can upgrade your plan at anytime. You are only
              responsible for the difference.
            </p>
          </article>
          <div class="reachout-text-box">
            <p>
              Feel free to get in touch with any enquiries or questions and one
              of our members will get back to you as soon as possible !
            </p>
            <a href="" class="question-link"
              >Ask A Question
              <span
                ><i class="fa fa-long-arrow-right" aria-hidden="true"></i
              ></span>
              <div class="question-underline"></div>
            </a>
          </div>
        </div>
        <article class="quote-section">
          <div class="quote-box">
            <div class="quote-img-box">
              <img src="../assets/images/home-slider-img-left.png" alt="" />
            </div>
            <div>
              <span><i class="fa fa-quote-left" aria-hidden="true"></i></span>
              <p>
                In My job as a social media strategist,I've tried pretty much
                every analytics products on the market and when I came across
                Metrics,I was blown away!
              </p>
              <p>
                Metrics isone of the most impressive social media website
                efforts I've ever seen.
              </p>
              <span class="right-quote-box"
                ><i class="fa fa-quote-right" aria-hidden="true"></i
              ></span>
            </div>
          </div>
          <!--Customer Profile-->
          <div class="customer-profile">
            <h4>Mahmoud Baghagho</h4>
            <p>Art Director</p>
          </div>
        </article>
      </div>
    </section>
    <!--End of FAQ Section-->
    <!--Our Partners-->
    <section class="partners-section">
      <header
        class="about-section-header"
        class="about-section-header"
        data-aos="zoom-in"
        data-aos="fade-up"
        data-aos-offset="200"
        data-aos-delay="50"
        data-aos-duration="500"
        data-aos-easing="ease-in-out"
        data-aos-mirror="true"
        data-aos-once="true"
      >
        <h2>Our Partners Trust Us With Their Project</h2>
        <p>Customer success always comes first.</p>
        <div class="vertical-divider-box">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </header>
      <article class="companies-logos-box">
        <div class="client" id="client-1">
          <img src="../assets/images/client-1.png" alt="Client 1" />
        </div>
        <div class="client" id="client-2">
          <img src="../assets/images/client-2.png" alt="Client 2" />
        </div>
        <div class="client" id="client-3">
          <img src="../assets/images/client-3.png" alt="Client 3" />
        </div>
        <div class="client" id="client-4">
          <img src="../assets/images/client-4.png" alt="Client 4" />
        </div>
        <div class="client" id="client-5">
          <img src="../assets/images/client-5.png" alt="Client 5" />
        </div>
        <div class="client" id="client-6">
          <img src="../assets/images/client-6.png" alt="Client 6" />
        </div>
      </article>
    </section>
    <!--End of section-->
    <!--Footer Section-->
    <footer class="footer-section">
      <section class="footer-advert-section">
        <p class="advert-text">
          Our social marketing solutions help more than 2500 companies around
          the world deliver great results. We can't stand average, and our
          clients can't either
        </p>
        <article class="advert-btn-box footer-btn-box-1">
          <div class="footer-btn-box">
            <a href="#">TAKE THE TOUR</a>
          </div>
          <div class="footer-btn-box footer-btn-box-2">
            <a href="#">GET STARTED</a>
          </div>
        </article>
      </section>
      <section class="footer-items-box">
        <article class="footer-logo">
          <img src="../assets/images/metric-logo.png" alt="" />
        </article>
        <article class="single-footer-item-box">
          <h5>About Metrics</h5>
          <ul class="single-footer-item-list">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">In the Press</a></li>
            <li><a href="#">Marketing Reports</a></li>
            <li><a href="#">SEO Tools</a></li>
          </ul>
        </article>
        <article class="single-footer-item-box">
          <h5>Our Products</h5>
          <ul class="single-footer-item-list">
            <li><a href="#">Take The Tour</a></li>
            <li><a href="#">Plans & Pricing</a></li>
            <li><a href="#">Influencer Marketing</a></li>
            <li><a href="#">Social Media Monitoring</a></li>
            <li><a href="#">Free Tools</a></li>
            <li><a href="#">API</a></li>
          </ul>
        </article>
        <article class="single-footer-item-box">
          <h5>Explore</h5>
          <ul class="single-footer-item-list">
            <li><a href="#">Free Tools</a></li>
            <li><a href="#">Find Influencers By Skill</a></li>
            <li><a href="#">PDF Social Analysis</a></li>
            <li><a href="#">Dashboard</a></li>
          </ul>
        </article>
        <article class="single-footer-item-box">
          <h5>Need Help</h5>
          <ul class="single-footer-item-list">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Our Blog</a></li>
            <li><a href="#">Metrics Help Desk</a></li>
            <li><a href="#">Metrics System Status</a></li>
            <li><a href="#">FAQS</a></li>
          </ul>
        </article>
        <article class="single-footer-item-box">
          <h5>Newsletter</h5>
          <ul class="single-footer-item-list">
            <li><a href="#">Don't miss to subscribe to our news feed</a></li>
            <li><a href="#">Kindly fill the form</a></li>
          </ul>
          <form action="" class="footer-form">
            <input
              type="text"
              placeholder="Subscribe In Our Newsletter"
              class="subscribe-form"
            />
            <button type="submit">
              <span
                ><i
                  class="fa fa-long-arrow-right input-arrow"
                  aria-hidden="true"
                ></i
              ></span>
            </button>
          </form>
        </article>
      </section>
      <div class="footer-underline"></div>
      <div class="footer-copyrights-box">
        <section class="footer-details-box">
          <div class="single-detail-box">
            <p>Terms and Conditions</p>
            <div class="separator"></div>
          </div>
          <div class="single-detail-box">
            <p>API Use Policy</p>
            <div class="separator"></div>
          </div>
          <div class="single-detail-box">
            <p>Privacy Policy</p>
            <div class="separator"></div>
          </div>
          <div class="single-detail-box">
            <p>Cookies</p>
            <div class="separator"></div>
          </div>
        </section>
        <article class="copyright-section">
          <p>
            © 2015 - 2016 Metrics. All Rights Reserved <br />
            With Love by <a href="#">7oroof.com</a>
          </p>
        </article>
      </div>
    </footer>
    <!--Animate on scroll Library codes-->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
  <script src="../Javascript/app.js"></script>
</html>
